  .Frame{
    background-color:black;
    width: 300px;
    border: 5px solid goldenrod;
    padding: 40px;
    margin-top: 10px;
    margin-left: 80px;
    }

.flex-container
{
  display: flex;
  }
.flex-container1
{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 200px;
  margin-right: auto;
  border: 2px solid black;
} 
.flex-container2
{
   margin-right: 80px;
   margin-top: 25px;
} 