  .Frame{
    background-color:black;
    width: 300px;
    border: 5px solid goldenrod;
    padding: 40px;
    margin-top: 10px;
    margin-left: 80px;
    }

.flex-container
{
  display: flex;
  }
.flex-container1
{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 200px;
  margin-right: auto;
} 
.flex-container2
{
   margin-right: 80px;
   margin-top: 25px;
} 
.Frame1{
  background-color:black;
  width: 50px;
  border: 2px solid goldenrod;
  padding: 50px;
  margin-top: 5px;
  margin-left: 40px;
  }
.adjust{
align-content: center;
}
.kvp{
  font-size: 50px;
  font-family: cursive;
  color:brown;
  background-color: gold;
  text-align: center;
  text-decoration: underline;
  text-shadow: 3px;
  
}
.img1{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.a{
  background-color:blueviolet;
  font-size:20px;
  font-family:cursive;
  color:goldenrod

}
.a1{
  background-color:saddlebrown;
  font-size:20px;
  font-family:cursive;
  color:whitesmoke

}
.a2{
  background-color:whitesmoke;
  font-size:20px;
  font-family:cursive;
  color:black;
}

.flex-container
{
  display: flex;
  }
.flex-container2
{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: auto;
  border-color: brown;
} 
