  .Frame{
    background-color:black;
    width: 300px;
    border: 5px solid goldenrod;
    padding: 40px;
    margin-top: 10px;
    margin-left: 80px;
    }

.flex-container
{
  display: flex;
  }
.flex-container1
{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: auto;
} 
.flex-container2
{
   margin-right: 80px;
   margin-top: 25px;
} 
.Frame1{
  background-color:black;
  width: 50px;
  border: 2px solid goldenrod;
  padding: 50px;
  margin-top: 5px;
  margin-left: 40px;
  }
table1, th, td {
  border: 3px solid goldenrod;
  border-style: 20px;
  background-color:lightgreen;
  font-family: cursive;
  color:brown;
  font-size: 20px;
  text-align: center;
}
.reg-form
{
color:blue;
font-family: cursive;
font-size: 20px;
}

.a{
  background-color:blueviolet;
  font-size:25px;
  font-family:cursive;
  color:goldenrod

}
.a1{
  background-color:saddlebrown;
  font-size:25px;
  font-family:cursive;
  color:whitesmoke
}
.a2{
  background-color:red;
  font-size:25px;
  font-family:cursive;
  color:whitesmoke
}
.a3{
  background-color: black;
  font-size:20px;
  color:gold;
  font-family:cursive;
  
}
.Navbar1{
  width: 30px;
  height: auto;
  nav-left: auto;
  background-color:white;
  font-size: 25px;
  font-family:cursive;
}
.Style1{
color:gold;
font-family:cursive;
font-size:20px;
}


.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: gold;
}

.topnav a.active {
  background-color: black;
  color: gold;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 80px;
  box-shadow: black;
  padding: 8px 6px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: gold;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
